#CountdownPage {
  padding-top: 2.5rem;
  width: 75%;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  section {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .Wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 7rem;

      >div {
        width: 100%;
      }

      .Profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #CompletedChallenges {
          margin: 5rem 0;
        }
      }
    }

  }
}