#CountdownComponent {
  .CountdownTimer {
    display: flex;
    align-items: center;
    font-family: "rajdhani";
    font-weight: 500;
    font-size: 8.5rem;
    color: var(--titles);
    margin-bottom: 2rem;

    >span {
      font-size: 6.5rem;
      margin: 0 0.5rem;
    }

    div {

      flex: 1;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);
      text-align: center;
      background-color: var(--white);

      span {
        flex: 1;

        &:first-child {
          border-right: 1px solid var(--background);
        }

        &:last-child {
          border-left: 1px solid var(--background);
        }
      }
    }
  }

  button {
    width: 100%;
    display: flex;
    outline: 0;
    border: 0;
    justify-content: center;
    height: 5rem;
    align-items: center;
    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: var(--border-radius);

    &.cycleNotActive {
      background-color: var(--blue-01);
    }

    &.cycleActive {
      background-color: var(--white);
      color: var(--text);
      position: relative;
      overflow: hidden;
      transition: var(--transition-time);

      .bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.25rem;
        background-color: var(--gray-line);

        .progress {
          height: 100%;
          width: 0%;
          transition: 1s width linear;
          background-color: var(--green);
        }
      }

      svg {
        margin-left: 0.5rem;

        path {
          transition: var(--transition-time);
          stroke: var(--text);
        }
      }

      &:hover {
        background-color: var(--red);
        color: var(--white);

        svg path {
          fill: var(--white);
          stroke: var(--white);
        }
      }
    }

    &.cycleFinished {
      background-color: var(--white);
      color: var(--text);
      position: relative;
      overflow: hidden;

      .bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.25rem;

        .progress {
          height: 100%;
          width: 100%;
          background-color: var(--green);
        }
      }

      svg {
        margin-left: 0.5rem;
      }
    }
  }
}